.profile__name {
    max-width: 294px;
    font: 500 42px/48px 'Inter', 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .profile__name {
        max-width: 100%;
        font-size: 27px;
        line-height: 32px;
        margin-top: 26px;
    }
}