.profile__target {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 25%;
    left: 45%;
}

.profile__target::before,
.profile__target::after {
    content: '';
    display: block;
    width: 22px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 10px;
}

.profile__target::before {
    transform: rotate(90deg);
}

@media screen and (max-width: 767px) {
    .profile__target {
        left: 47%;
    }
}