.edit-form__close {
    min-width: 32px;
    min-height: 32px;
    cursor: pointer;
    transition: .5s ease;
    margin: 0 0 8px auto;
    background-image: url(../../../images/closeIcon.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: contain;
    background-color: transparent;
    border: 0;
}

.edit-form__close:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .edit-form__close {
        min-width: 24px;
        min-height: 24px;
    }
}

@media screen and (max-width: 321px) {
    .edit-form__close {
        min-width: 20px;
        min-height: 20px;
        margin: 0 0 16px 0;
    }
}