.edit-form__close {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: .5s ease;
    margin: 0 0 -8px auto;
}

.edit-form__close::after,
.edit-form__close::before {
    content: '';
    display: block;
    position: absolute;
    width: 32px;
    height: 3px;
    background: #fff;
}

.edit-form__close::after {
    transform: rotate(45deg);
}

.edit-form__close::before {
    transform: rotate(-45deg);
}

.edit-form__close:hover {
    opacity: .4;
}

@media screen and (max-width: 767px) {
    .edit-form__close {
        width: 20px;
        height: 20px;
        margin: 0 0 0 auto;
    }

    .edit-form__close::after,
    .edit-form__close::before {
        width: 20px;
    }
}