    .profile__avatar {
        max-width: 120px;
        min-height: 120px;
        border-radius: 50%;
        transition: .2s linear;
        object-fit: cover;
        cursor: pointer;
        background: none;
        position: absolute;
    }

    .profile__avatar:hover {
        opacity: 0.2;
    }