.card__like {
    max-width: 22px;
    width: 100%;
    min-height: 19px;
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    transition: .5s ease;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.card__like:hover {
    opacity: .5;
}