.footer__copyrights {
    font: normal 18px/21px 'Inter', sans-serif;
    color: #545454;
    margin: 0;
}

@media screen and (max-width: 321px) {
    .footer__copyrights {
        font-size: 14px;
        line-height: 17px;
    }
}