.profile__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .profile__wrapper {
        max-width: 100%;
        flex-direction: column;
    }
}