.card {
    max-width: 282px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .card {
        max-width: 48%;
    }
}

@media screen and (max-width: 767px) {
    .card {
        max-width: 100%;
    }
}