.profile__nickname {
    max-width: 336px;
    font: normal 18px/21px 'Inter', sans-serif;
    color: #fff;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .profile__nickname {
        max-width: 100%;
        margin-top: 14px;
        font-size: 14px;
        line-height: 16px;
    }
}